<div class="container">
  <div class="row justify-content-end">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-md" [routerLink]="['/addproperty']">Add Property</button>
    </div>
  </div>
  <br />
  <table class="table">
    <tr>
      <th>#</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let game of games; let i = index">
      <td>{{i + 1}}</td>
      <td>{{game.game}}</td>
      <td>{{game.platform}}</td>
      <td>{{game.release}}</td>
    </tr>
  </table>
</div>
